<div class="modal-custom not-rounded" id="modal-sign-in">
    <div class="modal-custom-cover"></div>
    <div class="modal">
        <div class="modal-custom-content p-0 scroll-bg-gray-light">
            <i alt="close button" class="icon-close close-btn"></i>
            <div class="sign-in">
                <div>
                    <h4 class="text-medium-subtitle text-center mb-4">Sign in</h4>
                    <div class="mb-4 text-small text-gray-darker">Please sign in or register to save your parcel description for future shipments</div>
                    <form action="sign-in">
                        <input type="text" name="email" placeholder="Email" value="" class="form-control w-100 not-rounded value-input dark-theme mb-4" required>
                        <input type="text" name="password" placeholder="Password" value="" class="form-control w-100 not-rounded value-input dark-theme mb-4" required>
                        <button class="btn btn-primary not-rounded w-100 mb-3" type="submit">SIGN IN</button>
                    </form>
                    <div class="border-bottom pb-3 text-center text-small"><a class="link-neutral" href="forgot.html">Forgot password?</a></div>
                    <div class="text-center pt-4 pb-4 text-small-medium">Login with an existing account</div>
                    <div class="socials big-squares">
                        <div class="google-plus"><i class="fab fa-google"></i></div>
                        <div class="facebook"><i class="fab fa-facebook-f"></i></div>
                        <div class="lined-in"><i class="fab fa-linkedin-in"></i></div>
                    </div>
                </div>
                <div class="bg-gray-light">
                    <h4 class="text-medium-subtitle text-center mb-4 text-success-adv">Register</h4>
                    <div class="mb-4 text-small text-gray-darker mb-4">Join now and you can save even more on your shipping costs.</div>
                    <ul class="list-secondary mb-4">
                        <li>Automatic updates</li>
                        <li>Rewards program</li>
                        <li>Special offers and more!</li>
                    </ul>
                    <button class="btn btn-success-adv not-rounded w-100 mb-3" type="submit">REGISTER NOW</button>
                </div>
            </div>
        </div>
    </div>
</div>