<div class="block pt-0 pb-0 mb-3">
    <div class="collapse-toggler simple disabled enabled-md" data-toggle="collapse" data-target="#collapseInf" aria-expanded="true" aria-controls="collapseInf">
        <h4 class="text-light-subtitle">Service information</h4><i class="fas fa-chevron-down d-block d-lg-none"></i>
    </div>
    <div class="collapse show" id="collapseInf">
        <div><img class="icon-xl mr-3" src="./img/icons/ups-square.png" alt=""><span class="text-strong">UPS Standard</span></div>
        <div class="text-small pb-4 pt-4">
            <div><strong>Service conditions:</strong></div>
            <div>Max Parcel Length: 270 cm</div>
            <div>Max Parcel Weight: 70 kg</div>
            <div>Max Length + Girth: 330 cm</div>
        </div>
    </div>
</div>