.select-light {
    padding: .625rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    user-select: none;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    outline: none !important;
}

.bootstrap-select .btn:focus {
  outline: none !important;
}

.bootstrap-select{

  &.show{
    >.dropdown-toggle {
      @include glow();
    }
  }
  .bs-searchbox{
    input{
      padding: .3rem .75rem;
      line-height: 1.5em;
      height: 2em;
      box-shadow: none !important;
    }
  }
}