<footer>
    <div class="container">
        <div class="row">
            <div class="leftLinks col-lg-10 col-md-10 col-sm-12">
                <div class="row">
                    <div class="col-md-3 hidden-xs">
                        <h6>Popular Destinations</h6>
                        <ul>
                            <li><a href="/en-gb/uk-courier-services" title="UK Delivery" style="text-decoration: none;">UK Delivery</a></li>
                            <li><a href="/en-gb/international-courier-services/australia-parcel-delivery" title="Parcel delivery to Australia" style="text-decoration: none;">Parcel delivery to Australia</a></li>
                            <li><a href="/en-gb/international-courier-services/belgium-parcel-delivery" title="Sending packages to Belgium" style="text-decoration: none;">Sending packages to Belgium</a></li>
                            <li><a href="/en-gb/international-courier-services/france-parcel-delivery" title="Courier services to France" style="text-decoration: none;">Courier services to France</a></li>
                            <li><a href="/en-gb/international-courier-services/usa-parcel-delivery" title="USA delivery services" style="text-decoration: none;">USA delivery services</a></li>
                            <li><a href="/en-gb/international-courier-services/hong-kong-parcel-delivery" title="Hong Kong parcel services" style="text-decoration: none;">Hong Kong parcel services</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-4">
                        <h6>Services &amp; Support</h6>
                        <ul>
                            <li><a href="/en-gb/support/tools" title="Tools" style="text-decoration: none;">Tools</a></li>
                            <li><a href="/en-gb/courier-services/ebay" title="UK eBay Parcel Courier" style="text-decoration: none;">UK eBay Parcel Courier</a></li>
                            <li><a href="/en-gb/support/claims" title="Claims Information" style="text-decoration: none;">Claims Information</a></li>
                            <li><a href="/en-gb/support/youraccount" title="Your Account" style="text-decoration: none;">Your Account</a></li>
                            <li><a href="/en-gb/support/accountcreditanddebit" title="Account Credits &amp; Debits" style="text-decoration: none;">Accounts Credit &amp; Debits</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 mb-4">
                        <h6>Terms of Trade</h6>
                        <ul>
                            <li><a href="/en-gb/terms/terms-and-conditions" title="Terms &amp; Conditions" style="text-decoration: none;">Terms &amp; Conditions</a></li>
                            <li><a href="/en-gb/terms/compensation-exclusions" title="Compensation Exclusions" style="text-decoration: none;">Compensation Exclusions</a></li>
                            <li><a href="/en-gb/terms/prohibited-items" title="Prohibited Items" style="text-decoration: none;">Prohibited Items</a></li>
                            <li><a href="/en-gb/terms/labelling-and-packaging-criteria" title="Labelling &amp; Packaging Criteria" style="text-decoration: none;">Labelling &amp; Packaging Criteria</a></li>
                            <li><a href="/en-gb/terms/policies-and-terms-of-trade" title="Policies &amp; Terms of Trade" style="text-decoration: none;">Policies &amp; Terms of Trade</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-4">
                        <h6>About us</h6>
                        <ul>
                            <li><a href="/en-gb/about-us/contact-us" title="Contact Us" style="text-decoration: none;">Contact Us</a></li>
                            <li><a href="/en-gb/about-us" title="About ParcelHero" style="text-decoration: none;">About ParcelHero</a></li>
                            <li><a href="/en-gb/reviews" title="Reviews" style="text-decoration: none;">Reviews</a></li>
                            <li><a href="/blog/" title="Blog" style="text-decoration: none;">Blog</a></li>
                            <li><a href="/en-gb/about-us/media" title="Press" style="text-decoration: none;">Press</a></li>
                            <li><a href="/en-gb/about-us/team" title="Jobs" style="text-decoration: none;">Jobs</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-12">
                <div class="row payment-icons">
                    <div class="col-sm-12 col-md-12 mb-4">
                        <img src="img/norton_secure_seal.svg" alt="Protected By Norton" class="img-wide">
                    </div>
                    <div class="col-3 col-sm-offset-2 col-md-6 col-md-offset-0">
                        <img src="img/visa.svg" class="img-responsive img-wide" alt="Visa">
                    </div>
                    <div class="col-3 col-md-6 mb-3">
                        <img src="img/mastercard.svg" class="img-responsive img-wide" alt="Mastercard">
                    </div>
                    <div class="col-3 col-md-6">
                        <img src="img/paypal.svg" class="img-responsive img-wide" alt="PayPal">
                    </div>
                    <div class="col-3 col-md-6 mb-4">
                        <img src="img/american-express.svg" class="img-responsive img-wide" alt="American Express">
                    </div>

                    <div class="col-md-12">
                        <div class="social-row">
                            <a href="https://www.facebook.com/parcelhero" target="_blank" rel="noopener" style="text-decoration: none;"><i class="fab fa-facebook-square fa-3x" aria-hidden="true"></i></a>
                            <a href="https://www.twitter.com/parcelhero" target="_blank" rel="noopener" style="text-decoration: none;"><i class="fab fa-twitter-square fa-3x" aria-hidden="true"></i></a>
                            <a href="https://www.linkedin.com/company/parcelhero-com-limited/" target="_blank" rel="noopener" style="text-decoration: none;"><i class="fab fa-linkedin fa-3x"></i></a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 text-center text-md-left">
                    Copyright <sup>©</sup> 2019 ParcelHero - All Rights Reserved
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-right">
                    <ul class="text-center text-md-right">
                        <li><a href="/en-gb/terms/terms-and-conditions" title="Terms &amp; Conditions" style="text-decoration: none;">Terms &amp; Conditions</a></li>
                        <li><a href="/en-gb/terms/privacy-policy" title="Privacy Policy" style="text-decoration: none;">Privacy Policy</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>