<header class="header-account" id="main-header">
    <div class="header-account-sidebar header-home-sidebar">
        <div class="container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-lg-6"></div>
                    <div class="col-md-8 col-lg-6 d-flex justify-content-end pr-md-5">
                        <div class="header-profile-section">
                            <button class="btn btn-blue-adv btn-sm not-rounded">Track parcel <i class="ml-2 fas fa-chevron-right"></i></button>
                            <button class="top-menu-btn m-0" id="top-menu-btn"><i class="fa fa-bars" aria-hidden="true"></i></button>
                            <div class="profile-section-wrap z-1" id="profile-section-wrap">
                                <div class="profile-section-shop">
                                    <a href="#"><i class="fas fa-shopping-cart fa-lg"></i></a>
                                </div>
                                <div class="profile-account-name">
                                    <i class="fas fa-user"></i>
                                    Hello Joe !
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row pt-0 pb-0 pr-0">
            <div class="col-md-6 pr-0 pr-md-2">
                <a href="./"><img src="img/ph_logo.svg" alt="parcel-logo" class="logo-img"></a>
            </div>
            <div class="col-md-6 pr-0 pr-md-2">

            </div>
        </div>
    </div>

</header>