<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parcelhero Checkout</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

{% block content %}
{% endblock %}

{% include "structure/_scripts.njk" %}
{% block scripts %}{% endblock %}

</body>
</html>