{% extends "structure/_layout.njk" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-12">
			<h1>Pages</h1>

			<h2>Checkout</h2>
			<ul>
				<li><a href="/service-select.html">Service Select</a></li>
				<li><a href="/parcel-details.html">Parcel Details</a></li>
				<li><a href="/checkout-customs.html">Customs</a></li>
				<li><a href="/order-summary.html">Order Summary</a></li>
			</ul>

			<h2>Logged In</h2>
			<ul>
				<li><a href="/home.html">Home</a></li>
				<li><a href="/account.html">Account</a></li>
				<li><a href="/account-settings.html">Account Settings</a></li>
				<li><a href="/ebilling.html">Ebilling</a></li>
				<li><a href="/shipment-settings.html">Shipment Settings</a></li>
			</ul>
		</div>
	</div>

</div>

{% endblock %}