{% extends "structure/_layout.njk" %}

{% block content %}

<section class="top-bar">
    <div class="container">

        <h2 class='visually-hidden'>Advantages</h2>

        <div class="row justify-content-center">
            <div class="top-bar-block col-md-3 col-4">
                <img src="img/icons/intro-icon1.svg" alt="benefits icon" class='top-bar-icon'>
                <span>
						<strong class="top-bar-block-name">
							£50 Free Cover
						</strong>
						<span class="top-bar-block-desc">
							on selected services
						</span>
					</span>
            </div>

            <div class="top-bar-block col-md-3 col-4">
                <img src="img/icons/intro-icon2.svg" alt="benefits icon" class='top-bar-icon'>
                <span>
						<strong class="top-bar-block-name">
							Send heavy items
						</strong>
						<span class="top-bar-block-desc">
							up to 1,000kg
						</span>
					</span>
            </div>

            <div class="top-bar-block col-md-3 col-4">
                <img src="img/icons/intro-icon3.svg" alt="benefits icon" class='top-bar-icon'>
            </div>
        </div>
    </div>
</section>

<!-- FILTERS -->

<section id="filters" class="filters">
    <div class="container">

        <h3 class='visually-hidden'>Filters</h3>

        <!-- Filters first row -->
        <div class="filters-first-row">
            <div class="row">
                <div class="filters-found-services col-lg-6">
                    <p><span>14</span> services found, <strong>from £<span>2.55</span></strong></p>
                    <div class="found-services-email">
                        <a href="#">Email quote</a>
                    </div>
                </div>

                <div class="col-lg-6 text-right">
                    <div class="filter-found-sizes" data-toggle="collapse" href="#details-list" role="button" aria-expanded="false" aria-controls="details-list">
                        <div class="found-sizes-wrap">
                            <div class='found-sizes-dimens'>1 Parcel, 1kg, 1 x 1 x 1cm</div>

                            <div class="found-sizes-edit">
                                <a href="#" class="btn btn-primary btn-xs">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Details List -->

        <div class="collapse negative-offset-20 z-1" id="details-list">
            <div class="details-list">
                <div class="row">
                    <div class="col-md-9 details-list-container">
                        <div class="details-list-row">
                            <div class="info-input">
                                <div class="info-input-label">
                                    Quantity
                                </div>
                                <select class='form-control custom-picker' data-live-search="true" data-size="5" data-style="select-light">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                    <option value="32">32</option>
                                    <option value="33">33</option>
                                    <option value="34">34</option>
                                    <option value="35">35</option>
                                    <option value="36">36</option>
                                    <option value="37">37</option>
                                    <option value="38">38</option>
                                    <option value="39">39</option>
                                    <option value="40">40</option>
                                    <option value="41">41</option>
                                    <option value="42">42</option>
                                    <option value="43">43</option>
                                    <option value="44">44</option>
                                    <option value="45">45</option>
                                    <option value="46">46</option>
                                    <option value="47">47</option>
                                    <option value="48">48</option>
                                    <option value="49">49</option>
                                    <option value="50">50</option>
                                </select>
                            </div>

                            <div class="info-input">
                                <div class="info-input-label">
                                    Weight
                                </div>
                                <div class="input-group">
                                    <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1">
                                    <div class='input-measure'>
                                        <p>kg</p>
                                    </div>
                                </div>
                            </div>

                            <div class="info-input">
                                <div class="info-input-label">
                                    Length
                                </div>
                                <div class="input-group">
                                    <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1">
                                    <div class='input-measure'>
                                        <p>cm</p>
                                    </div>
                                </div>
                            </div>

                            <div class="info-input">
                                <div class="info-input-label">
                                    Width
                                </div>
                                <div class="input-group">
                                    <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1">
                                    <div class='input-measure'>
                                        <p>cm</p>
                                    </div>
                                </div>
                            </div>

                            <div class="info-input">
                                <div class="info-input-label">
                                    Height
                                </div>
                                <div class="input-group">
                                    <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1">
                                    <div class='input-measure'>
                                        <p>cm</p>
                                    </div>
                                </div>
                            </div>

                            <div class="info-input pt-3">
                                <a href="javascript:void(0)" class='info-input-more'><i class="fa fa-plus-circle"></i> Add more</a>
                                <a href="javascript:void(0)" class='info-input-more remove'><i class="fa fa-minus-circle"></i> Remove</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex align-items-start justify-content-end">
                        <button class='btn btn-dblue reduce-padding mt-4'><i class="fa fa-refresh"></i>Update Results</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Filters second row -->

        <div class="filters-second-row">
            <div class="row justify-content-between">
                <div class="col-md-9 col-12 filter-buttons collapse order-md-1 order-1" id="filter-buttons">
                    <div>
                        <button class="btn btn-outline-filter active" id='all'>
                            <span>All</span>
                            <span>from £2.55</span>
                        </button>

                        <button class="btn btn-outline-filter" id='collection'>
                            <span>Collection</span>
                            <span>from £2.55</span>
                        </button>

                        <button class="btn btn-outline-filter" id='drop-off'>
                            <span>Drop off</span>
                            <span>from £3.06</span>
                        </button>

                        <button class="btn btn-outline-filter" id='fastest'>
                            <span>Fastest</span>
                            <span>from £6.85</span>
                        </button>

                        <button class="btn btn-outline-filter" id='no-printer'>
                            <span>No printer?</span>
                            <span>from £3.56</span>
                        </button>
                    </div>
                </div>

                <div class="col-md-3 col-12 align-self-end order-md-12">
                    <div class="shipment-buttons">
                        <button class='btn btn-outline-secondary btn-md' data-toggle="collapse" href="#shipment-list" role="button" aria-expanded="false" aria-controls="shipment-list">Add shipment upgrades</button>
                        <button class="btn-outline-primary btn btn-md filter-mobile-btn" data-toggle="collapse" href="#filter-buttons" role="button" aria-expanded="false" aria-controls="filter-buttons">Filter services</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="collapse negative-offset-20" id='shipment-list'>
            <div class="options-list">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <ul>
                            <li class="upgrade-item">
                                <img src="img/icons/upgrade-icon1.png" alt="upgrade icon" class='upgrade-item-icon'>
                                <a href="javascript:void(0)" class='first-upgrade'>
                                    Enhanced Cover
                                    <img src="img/icons/upgrade-info-icon.png" alt="upgrade item image">
                                </a>
                                <input type="number" class='form-control' placeholder="Cover amount">
                                <a href="javascript:void(0)" class='upgrade-item-btn'></a>
                                <div class="text-description first-description">
                                    <p class='no-margin'>ParcelHero® provides £50 free loss/damage cover on every shipment*. To add additional cover, enter the value of your goods and click the plus sign.<br>*Excluding Hermes shipments</p>
                                </div>
                            </li>
                            <li class="upgrade-item">
                                <img src="img/icons/upgrade-icon3.png" alt="upgrade icon" class='upgrade-item-icon'>
                                <a href="javascript:void(0)" class='second-upgrade'>
                                    Don't deliver without a signature
                                    <img src="img/icons/upgrade-info-icon.png" alt="upgrade item image">
                                </a>
                                <a href="javascript:void(0)" class='upgrade-item-btn'>
                                    £1.00
                                </a>
                                <div class="text-description second-description">
                                    <p class='no-margin'>ParcelHero® requires a signature for each delivery, however some countries allow the courier to ‘driver release' the package (this means they are allowed to deliver to a pre-determined location at the receiver's location such as a porch or with a neighbour) without obtaining a signature from the receiver. By selecting the ‘signature required' option, you can prevent the courier from releasing the parcel without signature.</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-6 col-12">
                        <ul>
                            <li class="upgrade-item third-item">
                                <img src="img/icons/upgrade-icon4.png" alt="upgrade icon" class='upgrade-item-icon'>
                                <a href="javascript:void(0)" class='third-upgrade'>
                                    Deliver to a home address
                                    <img src="img/icons/upgrade-info-icon.png" alt="upgrade item image">
                                </a>
                                <a href="javascript:void(0)" class='upgrade-item-btn'>
                                    +10%
                                </a>
                                <div class="text-description third-description">
                                    <p class='no-margin'>Some carriers charge more to deliver to a home address, if you're sending a package to a residential address, click this option to include the surcharge in your quote. Please note if you chose to collect your parcel from an access point, the home delivery surcharge does not apply.</p>
                                </div>
                            </li>
                            <li class="upgrade-item fourth-item">
                                <img src="img/icons/upgrade-icon5.png" alt="upgrade icon" class='upgrade-item-icon'>
                                <a href="javascript:void(0)" class='fourth-upgrade'>
                                    Guaranteed delivery
                                    <img src="img/icons/upgrade-info-icon.png" alt="upgrade item image">
                                </a>
                                <a href="javascript:void(0)" class='upgrade-item-btn'>
                                    £2.20
                                </a>
                                <div class="text-description fourth-description">
                                    <p class='no-margin'>
                                        All our timed delivery services come with a money-back guarantee. For all other services we offer the option to upgrade to a money-back guarantee.<br><br>Please note:
                                    </p>
                                    <ol>
                                        <li>The money-back guarantee applies when we fail to deliver by the commitment date due to a carrier error.</li>

                                        <li>It does not apply where delivery is delayed due to circumstances outside of our control such as bad weather or a customs clearance delay.</li>
                                    </ol>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="choose-date">
    <div class="container">
        <div class="choose-date-left">
            <div class='btn btn-outline-gray btn-md btn-with-icon' data-action="collect-today">
                <div class="checkbox">
                    <input type="checkbox">
                    <label></label>
                </div>
                <span>Collect today</span>
            </div>
            <div class="btn btn-outline-gray btn-md btn-with-icon" data-action="collection-date">
                <img src="img/icons/calendar.svg" alt="calendar icon">
                <span>Choose collection date</span>
                <img src="img/icons/close-btn.png" alt="close button" class="btn-close">
            </div>
            <div class="choose-collection">
                <h5>Choose a collection date</h5>
                <br>

                <div class="collection-wrap">
                    <div class="collection-date-block">
                        <span class='tomorrow date-week'>Tomorrow</span>
                        <span class='day-20 date-day'>20</span>
                    </div>

                    <div class="collection-date-block">
                        <span class='thursday date-week'>Thursday</span>
                        <span class='day-21 date-day'>21</span>
                    </div>

                    <div class="collection-date-block">
                        <span class='friday date-week'>Friday</span>
                        <span class='day-22 date-day'>22</span>
                    </div>

                    <div class="collection-date-block-disabled">
                        <span class='saturday date-week'>Saturday</span>
                        <span class='day-23 date-day'>23</span>
                    </div>

                    <div class="collection-date-block-disabled">
                        <span class='sunday date-week'>Sunday</span>
                        <span class='day-24 date-day'>24</span>
                    </div>

                    <div class="collection-date-block">
                        <span class='monday date-week'>Monday</span>
                        <span class='day-25 date-day'>25</span>
                    </div>

                    <div class="collection-date-block">
                        <span class='sunday date-week'>Tuesday</span>
                        <span class='day-26 date-day'>26</span>
                    </div>
                </div>

                <img src="img/icons/close-btn.png" alt="close button" class="close-choose-btn">
            </div>
        </div>
    </div>
</div>

<div class="drop-postcode">
    <div class="container">
        <div class="drop-postcode-left">
            <span>Drop off postcode</span>
            <form class="input-postcode" action="#">
                <input type="text" placeholder="" data-action="postal">
                <input type="submit" value='Search' class='ease-out'>
            </form>
            <button class="view-drop-btn ease-out" data-action="view-drop">
                <img src="img/icons/view-drop-img.png" alt="view drop button">
                View drop points on map
            </button>
        </div>
    </div>
</div>

<!-- Main Content -->

<div id="main" class='content'>
    <div class="container">
        <div class="service-list-wrap">

            <h1 class='visually-hidden'>Parcelhero</h1>

            <!-- First column -->

            <div class="service-list-cols">
                <div class="service-list-col">
                    <div class="service-list-head">
                        <div class="service-label">
                            <h3>Next day</h3>
                        </div>
                    </div>
                    <div class="service-list">
                        <div class="service-item collect">
                            <div class="item-view">
                                <div class="item-view-head">
                                    <div class="view-head-left">
                                        <img src="img/icons/ups.svg" alt="ups ship" class='company-icon'>
                                    </div>
                                    <div class="view-head-right">
                                        <h3 class='text-price'>
												<span>
													£
													<span class='ship-cost'>1.88</span>
													<span class="ex-vat">ex VAT</span>
												</span>
                                        </h3>
                                        <h4 class="text-price-ext">
                                            £
                                            <span class='new-price'>3.22</span>
                                            <span class='inc-vat'>inc VAT</span>
                                        </h4>
                                    </div>
                                    <i class="icon-info icon-tiny more-info more-ups"></i>
                                </div>
                                <div class="item-view-center">
                                    <button class="btn btn-secondary w-100">
                                        Book Now
                                    </button>
                                </div>
                                <div class="item-view-bottom">
                                    <div class="view-bottom-left">
                                        <i class='icon-printer-required icon-default'></i>
                                        <span class='required_span'>
												Printer<br> required
											</span>
                                    </div>
                                    <div class="view-bottom-right ml-2r">
                                        <i class='icon-clock icon-default'></i>
                                        <p>
                                            <span class='collect-today'>Collect today</span>
                                            <span class='delivery_span'>Delivery <span class='day'>Tue</span> <span class='delivery'>21</span>th</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="service-item collect">
                            <div class="item-view">
                                <div class="item-view-head">
                                    <div class="view-head-left">
                                        <img src="img/icons/ups.svg" alt="ups ship" class='company-icon'>
                                    </div>
                                    <div class="view-head-right">
                                        <h3 class='text-price'>
												<span>
													£
													<span class='ship-cost'>7.55</span>
													<span class="ex-vat">ex VAT</span>
												</span>
                                        </h3>
                                        <h4 class="text-price-ext">
                                            £
                                            <span class='new-price'>3.09</span>
                                            <span class='inc-vat'>inc VAT</span>
                                        </h4>
                                    </div>
                                    <i class="icon-info icon-tiny more-info more-ups"></i>
                                </div>
                                <div class="item-view-center">
                                    <button class="btn btn-secondary w-100">
                                        Book Now
                                    </button>
                                </div>
                                <div class="item-view-bottom">
                                    <div class="view-bottom-left">
                                        <i  class='icon-printer-required icon-default'></i>
                                        <span class='required_span'>
												Printer<br> required
											</span>
                                    </div>
                                    <div class="view-bottom-right ml-2r">
                                        <i class='icon-clock icon-default'></i>
                                        <p>
                                            <span class='collect-today'>Collect today</span>
                                            <span class='delivery_span'>Delivery <span class='day'>Tue</span> <span class='delivery'>20</span>th</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="service-item collect">
                            <div class="item-view">
                                <div class="item-view-head">
                                    <div class="view-head-left">
                                        <img src="img/icons/parcelforce.jpg" alt="ups ship" class='company-icon'>
                                    </div>
                                    <div class="view-head-right">
                                        <h3 class='text-price'>
												<span>
													£
													<span class='ship-cost'>4.28</span>
													<span class="ex-vat">ex VAT</span>
												</span>
                                        </h3>
                                        <h4 class="text-price-ext">
                                            £
                                            <span class='new-price'>3.22</span>
                                            <span class='inc-vat'>inc VAT</span>
                                        </h4>
                                    </div>
                                    <i class="icon-info icon-tiny more-info more-parcel-force"></i>
                                </div>
                                <div class="item-view-center">
                                    <button class="btn btn-secondary w-100">
                                        Book Now
                                    </button>
                                </div>
                                <div class="item-view-bottom">
                                    <div class="view-bottom-left">
                                        <i  class='icon-printer-required icon-default'></i>
                                        <span class='required_span'>
												Printer<br> required
											</span>
                                    </div>
                                    <div class="view-bottom-right ml-2r">
                                        <i class='icon-clock icon-default'></i>
                                        <p>
                                            <span class='collect-today'>Collect today</span>
                                            <span class='delivery_span'>Delivery <span class='day'>Tom</span> <span class='delivery'>19</span>th</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="service-item collect printer-not">
                            <div class="item-view">
                                <div class="item-view-head">
                                    <div class="view-head-left">
                                        <img src="img/icons/ups.svg" alt="ups ship" class='company-icon'>
                                    </div>
                                    <div class="view-head-right">
                                        <h3 class='text-price'>
												<span>
													£
													<span class='ship-cost'>3.55</span>
													<span class="ex-vat">ex VAT</span>
												</span>
                                        </h3>
                                        <h4 class="text-price-ext">
                                            £
                                            <span class='new-price'>3.22</span>
                                            <span class='inc-vat'>inc VAT</span>
                                        </h4>
                                    </div>
                                    <i class="icon-info icon-tiny more-info more-parcel-force"></i>
                                </div>
                                <div class="item-view-center">
                                    <button class="btn btn-secondary w-100">
                                        Book Now
                                    </button>
                                </div>
                                <div class="item-view-bottom">
                                    <div class="view-bottom-left">
                                        <img src="img/icons/Icon_printer_not_required.svg" alt="printer required" class='icon-default'>
                                        <span class='required_span'>
												Printer not<br> required
											</span>
                                    </div>
                                    <div class="view-bottom-right ml-2r">
                                        <i class='icon-clock icon-default'></i>
                                        <p>
                                            <span class='collect-today'>Collect today</span>
                                            <span class='delivery_span'>Delivery <span class='day'>Thu</span> <span class='delivery'>19</span>th</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Second column -->

                <div class="service-list-col">
                    <div class="service-list-head">
                        <div class="service-label">
                            <h3>2 days</h3>
                        </div>
                    </div>
                    <div class="service-list">
                        <div class="service-item collect">
                            <div class="item-view">
                                <div class="item-view-head">
                                    <div class="view-head-left">
                                        <img src="img/icons/parcelforce.jpg" alt="ups ship" class='company-icon'>
                                    </div>
                                    <div class="view-head-right">
                                        <h3 class='text-price'>
												<span>
													£
													<span class='ship-cost'>2.55</span>
													<span class="ex-vat">ex VAT</span>
												</span>
                                        </h3>
                                        <h4 class="text-price-ext">
                                            £
                                            <span class='new-price'>3.22</span>
                                            <span class='inc-vat'>inc VAT</span>
                                        </h4>
                                    </div>
                                    <i class="icon-info icon-tiny more-info more-parcel-force"></i>
                                </div>
                                <div class="item-view-center">
                                    <button class="btn btn-secondary w-100">
                                        Book Now
                                    </button>
                                </div>
                                <div class="item-view-bottom">
                                    <div class="view-bottom-left">
                                        <i  class='icon-printer-required icon-default'></i>
                                        <span class='required_span'>
												Printer<br> required
											</span>
                                    </div>
                                    <div class="view-bottom-right ml-2r">
                                        <i class='icon-clock icon-default'></i>
                                        <p>
                                            <span class='collect-today'>Collect today</span>
                                            <span class='delivery_span'>Delivery <span class='day'>Fri</span> <span class='delivery'>19</span>th</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="service-item collect">
                            <div class="item-view">
                                <div class="item-view-head">
                                    <div class="view-head-left">
                                        <img src="img/icons/parcelforce.jpg" alt="ups ship" class='company-icon'>
                                    </div>
                                    <div class="view-head-right">
                                        <h3 class='text-price'>
												<span>
													£
													<span class='ship-cost'>8.55</span>
													<span class="ex-vat">ex VAT</span>
												</span>
                                        </h3>
                                        <h4 class="text-price-ext">
                                            £
                                            <span class='new-price'>3.22</span>
                                            <span class='inc-vat'>inc VAT</span>
                                        </h4>
                                    </div>
                                    <i class="icon-info icon-tiny more-info more-parcel-force"></i>
                                </div>
                                <div class="item-view-center">
                                    <button class="btn btn-secondary w-100">
                                        Book Now
                                    </button>
                                </div>
                                <div class="item-view-bottom">
                                    <div class="view-bottom-left">
                                        <i  class='icon-printer-required icon-default'></i>
                                        <span class='required_span'>
												Printer<br> required
											</span>
                                    </div>
                                    <div class="view-bottom-right ml-2r">
                                        <i class='icon-clock icon-default'></i>
                                        <p>
                                            <span class='collect-today'>Collect today</span>
                                            <span class='delivery_span'>Delivery <span class='day'>Mon</span> <span class='delivery'>24</span>th</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="service-item drop">
                            <div class="item-view">
                                <div class="item-view-head">
                                    <div class="view-head-left">
                                        <img src="img/icons/pickup.png" alt="ups ship" class='company-icon'>
                                    </div>
                                    <div class="view-head-right">
                                        <h3 class='text-price'>
												<span>
													£
													<span class='ship-cost'>6.87</span>
													<span class="ex-vat">ex VAT</span>
												</span>
                                        </h3>
                                        <h4 class="text-price-ext">
                                            £
                                            <span class='new-price'>3.09</span>
                                            <span class='inc-vat'>inc VAT</span>
                                        </h4>
                                    </div>
                                    <i class="icon-info icon-tiny more-info more-pickup'"></i>
                                </div>
                                <div class="item-view-center">
                                    <button class="btn btn-secondary w-100">
                                        Book Now
                                    </button>
                                </div>
                                <div class="item-view-bottom">
                                    <div class="view-bottom-left">
                                        <i  class='icon-printer-required icon-default'></i>
                                        <span class='required_span'>
												Printer<br> required
											</span>
                                    </div>
                                    <div class="view-bottom-right">
                                        <i class='icon-location icon-default'></i>
                                        <p>
                                            <span class='drop-by_span'>0.3mi. Drop by <span class='drob-by'>11:45</span>am</span><br>
                                            <span class='delivery_span'>Delivery <span class='day'>Tom</span> <span class='delivery'>19</span>th</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="service-item drop">
                            <div class="item-view">
                                <div class="item-view-head">
                                    <div class="view-head-left">
                                        <img src="img/icons/ups.svg" alt="ups ship" class='company-icon'>
                                    </div>
                                    <div class="view-head-right">
                                        <h3 class='text-price'>
												<span>
													£
													<span class='ship-cost'>2.55</span>
													<span class="ex-vat">ex VAT</span>
												</span>
                                        </h3>
                                        <h4 class="text-price-ext">
                                            £
                                            <span class='new-price'>3.22</span>
                                            <span class='inc-vat'>inc VAT</span>
                                        </h4>
                                    </div>
                                    <i class="icon-info icon-tiny more-info more-parcel-force"></i>
                                </div>
                                <div class="item-view-center">
                                    <button class="btn btn-secondary w-100">
                                        Book Now
                                    </button>
                                </div>
                                <div class="item-view-bottom">
                                    <div class="view-bottom-left">
                                        <i  class='icon-printer-required icon-default'></i>
                                        <span class='required_span'>
												Printer<br> required
											</span>
                                    </div>
                                    <div class="view-bottom-right">
                                        <i class='icon-location icon-default'></i>
                                        <p>
                                            <span class='drop-by_span'>0.3mi. Drop by <span class='drob-by'>11:45</span>am</span><br>
                                            <span class='delivery_span'>Delivery <span class='day'>Mon</span> <span class='delivery'>19</span>th</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="service-item collect printer-not">
                            <div class="item-view">
                                <div class="item-view-head">
                                    <div class="view-head-left">
                                        <img src="img/icons/tnt.png" alt="ups ship" class='company-icon'>
                                    </div>
                                    <div class="view-head-right">
                                        <h3 class='text-price'>
												<span>
													£
													<span class='ship-cost'>4.55</span>
													<span class="ex-vat">ex VAT</span>
												</span>
                                        </h3>
                                        <h4 class="text-price-ext">
                                            £
                                            <span class='new-price'>3.22</span>
                                            <span class='inc-vat'>inc VAT</span>
                                        </h4>
                                    </div>
                                    <i class="icon-info icon-tiny more-info more-dpd'"></i>
                                </div>
                                <div class="item-view-center">
                                    <button class="btn btn-secondary w-100">
                                        Book Now
                                    </button>
                                </div>
                                <div class="item-view-bottom">
                                    <div class="view-bottom-left">
                                        <img src="img/icons/Icon_printer_not_required.svg" alt="printer required" class='icon-default'>
                                        <span class='required_span'>
												Printer not<br> required
											</span>
                                    </div>
                                    <div class="view-bottom-right ml-2r">
                                        <i class='icon-clock icon-default'></i>
                                        <p>
                                            <span class='collect-today'>Collect today</span>
                                            <span class='delivery_span'>Delivery <span class='day'>Fri</span> <span class='delivery'>19</span>th</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Third column -->

                <div class="service-list-col">
                    <div class="service-list-head">
                        <div class="service-label">
                            <h3>3-4 Days</h3>
                        </div>
                    </div>
                    <div class="service-list">
                        <div class="service-item drop">
                            <div class="item-view">
                                <div class="item-view-head">
                                    <div class="view-head-left">
                                        <img src="img/icons/hermes.svg" alt="ups ship" class='company-icon'>
                                    </div>
                                    <div class="view-head-right">
                                        <h3 class='text-price'>
												<span>
													£
													<span class='ship-cost'>3.07</span>
													<span class="ex-vat">ex VAT</span>
												</span>
                                        </h3>
                                        <h4 class="text-price-ext">
                                            £
                                            <span class='new-price'>3.22</span>
                                            <span class='inc-vat'>inc VAT</span>
                                        </h4>
                                    </div>
                                    <i class="icon-info icon-tiny more-info more-hermes"></i>
                                </div>
                                <div class="item-view-center">
                                    <button class="btn btn-secondary w-100">
                                        Book Now
                                    </button>
                                </div>
                                <div class="item-view-bottom">
                                    <div class="view-bottom-left">
                                        <i  class='icon-printer-required icon-default'></i>
                                        <span class='required_span'>
												Printer<br> required
											</span>
                                    </div>
                                    <div class="view-bottom-right">
                                        <i class='icon-location icon-default'></i>
                                        <p>
                                            <span class='drop-by_span'>0.3mi. Drop by <span class='drob-by'>11:45</span>am</span><br>
                                            <span class='delivery_span'>Delivery <span class='day'>Fri</span> <span class='delivery'>19</span>th</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="service-item drop">
                            <div class="item-view">
                                <div class="item-view-head">
                                    <div class="view-head-left">
                                        <img src="img/icons/hermes.svg" alt="ups ship" class='company-icon'>
                                    </div>
                                    <div class="view-head-right">
                                        <h3 class='text-price'>
												<span>
													£
													<span class='ship-cost'>3.07</span>
													<span class="ex-vat">ex VAT</span>
												</span>
                                        </h3>
                                        <h4 class="text-price-ext">
                                            £
                                            <span class='new-price'>3.09</span>
                                            <span class='inc-vat'>inc VAT</span>
                                        </h4>
                                    </div>
                                    <i class="icon-info icon-tiny more-info more-hermes"></i>
                                </div>
                                <div class="item-view-center">
                                    <button class="btn btn-secondary w-100">
                                        Book Now
                                    </button>
                                </div>
                                <div class="item-view-bottom">
                                    <div class="view-bottom-left">
                                        <i  class='icon-printer-required icon-default'></i>
                                        <span class='required_span'>
												Printer<br> required
											</span>
                                    </div>
                                    <div class="view-bottom-right">
                                        <i class='icon-location icon-default'></i>
                                        <p>
                                            <span class='drop-by_span'>0.3mi. Drop by <span class='drob-by'>11:45</span>am</span><br>
                                            <span class='delivery_span'>Delivery <span class='day'>Thu</span> <span class='delivery'>19</span>th</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="service-item collect printer-not">
                            <div class="item-view">
                                <div class="item-view-head">
                                    <div class="view-head-left">
                                        <img src="img/icons/hermes.svg" alt="ups ship" class='company-icon'>
                                    </div>
                                    <div class="view-head-right">
                                        <h3 class='text-price'>
												<span>
													<span>£</span>
													<span class='ship-cost'>4.55</span>
													<span class="ex-vat">ex VAT</span>
												</span>
                                        </h3>
                                        <h4 class="text-price-ext">
                                            £
                                            <span class='new-price'>3.22</span>
                                            <span class='inc-vat'>inc VAT</span>
                                        </h4>
                                    </div>
                                    <i class="icon-info icon-tiny more-info more-hermes"></i>
                                </div>
                                <div class="item-view-center">
                                    <button class="btn btn-secondary w-100">
                                        Book Now
                                    </button>
                                </div>
                                <div class="item-view-bottom">
                                    <div class="view-bottom-left">
                                        <img src="img/icons/Icon_printer_not_required.svg" alt="printer required" class='icon-default'>
                                        <span class='required_span'>
												Printer not<br> required
											</span>
                                    </div>
                                    <div class="view-bottom-right ml-2r">
                                        <i class='icon-clock icon-default'></i>
                                        <p>
                                            <span class='collect-today'>Collect today</span>
                                            <span class='delivery_span'>Delivery <span class='day'>Mon</span> <span class='delivery'>21</span>st</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-custom" id="modal-hermes">
                <div class="modal-custom-cover"></div>
                <div class="modal">
                    <div class="modal-custom-content">
                        <i alt="close button" class="icon-close close-btn"></i>
                        <div class="service-information">
                            <div class="item-view-head">
                                <div class="service-title">
                                    <img src="img/icons/ups.svg" alt="ups ship" class='company-icon'>
                                    <h4>UPS service information</h4>
                                </div>
                            </div>
                            <div class="nav-tabs-mask  mt-4 mb-4">
                                <nav class="nav-tabs-container">
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-service-info" role="tab" aria-controls="nav-service-info" aria-selected="true">Service info</a>
                                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-drop-points" role="tab" aria-controls="nav-drop-points" aria-selected="false">Drop points</a>
                                        <a class="nav-item nav-link" id="nav-printing-tab" data-toggle="tab" href="#nav-printing-labels" role="tab" aria-controls="nav-printing-labels" aria-selected="false">Printing labels</a>
                                        <a class="nav-item nav-link" id="nav-enhanced-tab" data-toggle="tab" href="#nav-enhanced-cover" role="tab" aria-controls="nav-enhanced-cover" aria-selected="false">Enhanced cover</a>
                                    </div>
                                </nav>
                            </div>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-service-info" role="tabpanel" aria-labelledby="nav-service-info">
                                    <h4 class="text-sub-title">Fast, reliable service for less urgent shipments</h4>
                                    <div class="card shadow mt-4 mb-4">
                                        <div class="card-body">
                                            <div class="card-row">
                                                <div>
                                                    <div class="view-head-right">
                                                        <h3 class='text-price'>
																<span>
																	£
																	<span class='ship-cost1'>2.55</span>
																	<span class="ex-vat">ex VAT</span>
																</span>
                                                        </h3>
                                                        <h4 class="text-price-ext">
                                                            £
                                                            <span class='new-price'>3.09</span>
                                                            <span class='inc-vat'>inc VAT</span>
                                                        </h4>
                                                    </div>
                                                </div>
                                                <div class="ml-md-4 ml-0">
                                                    <button class="btn btn-secondary btn-large mt-md-0 mt-2">Book Now</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-4 p-0">
                                                <span class="text-sub-title">Service info</span>
                                                <p class="text-medium">UPS offers value-added services such as collection and delivery options, delivery notification, and special handling to meet your shipping needs. (Value-added service offerings vary by country.)</p>
                                            </div>
                                            <div class="col-md-4 mob-p-0">
                                                <span class="text-sub-title">Service benefits</span>
                                                <div class="list-check">
                                                    <p>£50 Free Loss/Damage Cover</p>
                                                    <p>Fully Trackable Service</p>
                                                    <p>Money Back Guarantee Option</p>
                                                    <p>Deliveries made 9AM-6PM</p>
                                                    <p>Home deliveries up to 7PM</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 p-0">
                                                <span class="text-sub-title">Service conditions</span>
                                                <div class="list-dot">
                                                    <p>Max Parcel Length: 274 cm</p>
                                                    <p>Max Parcel Weight: 70 kg</p>
                                                    <p>Max Length + Girth: 400 cm</p>
                                                    <p>Printer required</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-drop-points" role="tabpanel" aria-labelledby="nav-drop-points">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12 p-0">
                                                <h4 class="text-sub-title">Find your nearest drop-off point</h4>
                                                <p class="text-medium mb-4">Our convenient access point service enables you to drop your parcel at a local shop, at a time convenient to you.</p>
                                            </div>
                                            <div class="col-md-6 d-flex align-items-center p-0">
                                                <h5 class='text-medium-title'>6 locations found within 25 miles</h5>
                                            </div>
                                            <div class="col-md-6 p-0 text-right">
                                                <form class="input-postcode" action="#">
                                                    <input type="text" placeholder="" data-action="postal">
                                                    <input type="submit" value='Search' class='ease-out'>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="map" data-action="map"></div>
                                </div>
                                <div class="tab-pane fade" id="nav-printing-labels" role="tabpanel" aria-labelledby="nav-printing-labels">
                                    <h4 class="text-sub-title text-with-icon"><i  class='icon-printer-required icon-default'></i>Printing labels</h4>
                                    <p class="text-medium">A printer is required for this service, in order to print out the shipping labels.</p>
                                </div>
                                <div class="tab-pane fade" id="nav-enhanced-cover" role="tabpanel" aria-labelledby="nav-enhanced-cover">
                                    <h4 class="text-sub-title">Enhanced cover</h4>
                                    <p class="text-medium">Enhanced cover entitles you to claim up to the stated value if your goods are lost or damaged in transit. However in the case of damage, it does not cover:</p>
                                    <div class="list-check list-sm mt-2">
                                        <p>Damage to any exterior packaging, such as suitcase wheels or handles</p>
                                        <p>Goods not packaged in accordance with our <a href="#">labelling and packaging criteria</a></p>
                                        <p>Goods on our <a href="#">Compensation exclusions item list</a></p>
                                    </div>
                                    <div class="options-list mt-4 disable-arrow">
                                        <div class="row">
                                            <div class="col-lg-8 col-12">
                                                <ul>
                                                    <li class="upgrade-item">
                                                        <img src="img/icons/upgrade-icon1.png" alt="upgrade icon" class='upgrade-item-icon'>
                                                        <a href="javascript:void(0)" class='first-upgrade'>
                                                            Enhanced Cover
                                                            <img src="img/icons/upgrade-info-icon.png" alt="upgrade item image">
                                                        </a>
                                                        <input type="number" class='form-control' value="60" placeholder="Cover amount">
                                                        <a href="javascript:void(0)" class='upgrade-item-btn'>£6.00</a>
                                                        <div class="text-description first-description">
                                                            <p class='no-margin'>ParcelHero® provides £50 free loss/damage cover on every shipment*. To add additional cover, enter the value of your goods and click the plus sign.<br>*Excluding Hermes shipments</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-custom" id="modal-map">
                <div class="modal-custom-cover"></div>
                <div class="modal">
                    <div class="modal-custom-content">
                        <i alt="close button" class="icon-close close-btn"></i>
                        <div class="map-content">
                            <h5 class="text-medium-title">Select a carrier for drop-off points:</h5>
                            <div class="map-carriers-mask">
                                <div class="map-carriers" id="carriers-viewer">
                                    <div class="map-carriers-block active">
                                        <img src="img/icons/ups.svg" alt="carrier ups">
                                        <span>Ups</span>
                                    </div>
                                    <div class="map-carriers-block">
                                        <img src="img/icons/parcelforce.jpg" alt="carrier parcelforce">
                                        <span>Parcelforce</span>
                                    </div>
                                    <div class="map-carriers-block">
                                        <img src="img/icons/hermes.svg" alt="carrier hermes">
                                        <span>Hermes</span>
                                    </div>
                                    <div class="map-carriers-block">
                                        <img src="img/icons/tnt.png" alt="carrier tnt">
                                        <span>Tnt</span>
                                    </div>
                                    <div class="map-carriers-block">
                                        <img src="img/icons/pickup.png" alt="carrier pickup">
                                        <span>Pickup</span>
                                    </div>
                                </div>
                            </div>
                            <div class="book-now">
                                <div class="book-now-book">
                                    <button class="btn btn-secondary">Book now</button>
                                </div>
                                <div class="book-now-content">
                                    <img src="img/icons/icon_info_grey.svg" alt="more info" class="book-now-more">
                                    <div class="book-now-price">
                                        <h3 class="text-price"><span>£<span class="ship-cost"> 1.85</span> <span class="ex-vat">ex VAT</span></span></h3>
                                        <h4 class="text-price-ext">£ <span class="new-price">3.09</span> <span class="inc-vat">inc VAT</span></h4>
                                    </div>
                                    <div class="book-now-printer"><div><img src="./img/icons/Icon_printer_required.svg" alt=""></div><div><span>Printer required</span></div></div>
                                    <div class="book-now-status"><div><img src="./img/icons/icon_clock.svg" alt=""></div><div><span>Collect today</span><span>Delivery Tue 19th</span></div></div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6 d-flex order-2 order-md-1 align-items-center p-0">
                                        <h5 class='text-medium-title mb-0 mt-md-0 mt-4'>6 locations found within 25 miles</h5>
                                    </div>
                                    <div class="col-md-6 order-1 order-md-2 p-0 text-right">
                                        <form class="input-postcode" action="#">
                                            <input type="text" placeholder="" data-action="postal">
                                            <input type="submit" value='Search' class='ease-out'>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="map" data-action="map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="service-banner-area">
    <div class="container">
        <div class="service-banner-wrapper">
            <img src="img/lowest-price-img.png" width="408" alt="" class="img-wide">
            <p class="text-center text-md-left">Find it cheaper anywhere else<br> and we'll refund the difference!</p>
            <a href="/en-gb/support/price-guarantee" title="Terms Apply" style="text-decoration: none;">Terms Apply</a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/js/app/map.js"></script>
<script src="/js/app/pages/service-select.js"></script>
{% endblock %}