<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <a href="./"><img src="/img/parcelcompare/parcel_compare_logo_white.svg" alt="parcel-logo" class="logo-img"></a>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12 d-flex justify-content-center">
                <ul class="footer-menu d-flex justify-content-center flex-wrap">
                    <li><a href="/support/claims" title="Claims Information">Claims Information</a></li>
                    <li><a href="/support/prohibited-items" title="Prohibited Items">Prohibited Items</a></li>
                    <li><a href="/support/compensation-exclusions" title="Compensation Exclusions">Compensation Exclusions</a></li>
                    <li><a href="/support/labelling-and-packaging-criteria" title="Labelling &amp; Packaging Criteria">Labelling &amp; Packaging Criteria</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <ul class="footer-menu d-flex justify-content-center flex-wrap">
                    <li><a href="/about-us" title="About Us">About Us</a></li>
                    <li><a href="/support/terms-and-conditions" title="Terms &amp; Conditions">Terms &amp; Conditions</a></li>
                    <li><a href="/support/cookie-policy" rel="follow" txtle="Cookie Policy">Cookie Policy</a></li>
                    <li><a href="/support/policies-and-terms-of-trade" title="Terms of Trade">Terms of Trade</a></li>
                    <li class="last-child"><a href="/about-us/contact-us" title="Contact Us">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 text-center text-md-left">
                    © ParcelCompare 2019
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center text-md-right">
                    <a href="https://www.facebook.com/parcelcompare" target="_blank" class="facebook-link" title="Facebook" rel="noopener">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://twitter.com/parcelcompare" target="_blank" class="twitter-link" title="Twitter" rel="noopener">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>