<header class="header-account" id="main-header">
    <div class="header-account-sidebar header-home-sidebar position-relative z-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 pr-sm-0 d-flex justify-content-end">
                    <div class="header-profile-section pt-3 pb-3">
                        <div class="profile-section-wrap z-1 mr-0">
                            <div class="profile-section-shop pr-2">
                                <i class="fas fa-shopping-cart fa-lg"></i>
                                My Basket (0)
                            </div>

                            <div class="profile-account-name pl-2 pr-2">
                                <i class="fas fa-user"></i>
                                My Account
                            </div>

                            <div class="profile-account-register pl-2">
                                Register
                            </div>
                        </div>

                        <a href="#" class="tracking-link" title="Tracking">Tracking</a>

                        <a class="top-menu-btn" id="top-menu-btn" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row pt-0 pb-0 pr-0 d-flex flex-column-reverse flex-column-reverse flex-md-row">
            <div class="col-md-6 pr-md-2 pl-sm-0">
                <a href="./"><img src="/img/parcelcompare/parcel_compare_logo_text.svg" alt="parcel-logo" class="logo-img"></a>
            </div>
            <div class="col-md-6 pr-0 pl-0 pr-md-2 d-flex justify-content-end align-items-center pt-md-g">
                <nav class="navbar navbar-expand-md collapse navbar-collapse d-md-block mt-md-4" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto justify-content-end">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item dropdown pl-md-4">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Services
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item pl-md-4">
                            <a class="nav-link" href="#">Support</a>
                        </li>

                        <li class="nav-item d-md-none">
                            <a class="nav-link" href="#">My Basket (0)</a>
                        </li>
                        <li class="nav-item d-md-none">
                            <a class="nav-link" href="#">My Account</a>
                        </li>
                        <li class="nav-item d-md-none">
                            <a class="nav-link" href="#">Register</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</header>