<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ParcelHero</title>
    <link rel="stylesheet" href="/css/compare-style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

{% include "structure/parcelcompare/_header.njk" %}

{% block content %}
{% endblock %}

{% include "structure/parcelcompare/_footer.njk" %}
{% include "structure/parcelcompare/_scripts.njk" %}
{% block scripts %}{% endblock %}

</body>
</html>