<script src='/js/jquery.js'></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.js"></script>
<script src='/js/bootstrap-select.js'></script>
<script src='/js/charts/circleChart.min.js'></script>
<script src='/js/flatpickr.js'></script>
<script src='/js/form-anims.js'></script>
<script src='/js/jquery.ripple.js'></script>
<script src='/js/app/iefixes.js'></script>
<script src='/js/app/data.js'></script>
<script src='/js/app/script.js'></script>
<script src='/js/app/middle-sidebar.js'></script>
<script src='/js/app/header.js'></script>
<script src="/js/app/pages/customs.js"></script>
<script src="/js/app/modal.js"></script>
<script src="/js/app/checkboxes.js"></script>
