.account-content {
  overflow-x: hidden;
  .account-menu {
  }
}

.account-progress {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .account-progress-discount {
    position: relative;
    .icon-shield{
      font-size: 9rem;
      color: $blue-adv;
    }

    >div{
      position: absolute;
      width: 100%;
      left: 0;
      top: 50%;
      text-align: center;
      transform: translateY(-50%);

      h3{
        font-size: 2.5rem;
        line-height: 2.5rem;
        margin-bottom: 0;
        font-weight: 600;
        color: $blue-adv;
      }

      span{
        text-transform: uppercase;
        font-size: 0.85rem;
      }
    }
  }

  .account-progress-status {
    width: 100%;
    padding-left: 2rem;

    h4{
      text-transform: uppercase;
      color: $blue-adv;
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
    }

    > span{
      color: $dark-gray;
    }

    .account-progress-bar {
      margin-bottom: 0.5rem;
      position: relative;
      >div{
        &:first-child{
          height: 20px;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          background-color: $gray-6;
          width: calc(100% - 30px);
          overflow: hidden;

          div{
            width: 100%;
            height: 100%;
            transform: scaleX(0);
            transform-origin: center left;
            @include gradientH($blue-adv, $green-adv);
            transition: transform $transition ease;
            transition-delay: $transition;
          }
        }
        &:last-child(){
          position: absolute;
          border-radius: 50%;
          background-color: $gray-6;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    .account-progress-discount {
      .icon-shield{
        font-size: 6rem;
      }

      >div{
        h3{
          font-size: 1.4rem;
          line-height: 1.4rem;
        }
  
        span{
          text-transform: uppercase;
          font-size: 0.6rem;
        }
      }
    }

    .account-progress-status {
  
      h4{
        font-size: 1rem;
      }
  
      .account-progress-bar {
        >div{
          &:last-child(){
            img{
              width: 44px;
              height: auto;
            }
          }
        }
      }
    }
  }
}

.account-block {
  display: flex;
  width: 100%;

  i {
    color: $blue-adv;
    margin-right: 0.5rem;
    font-size: 1.4rem;
    display: block;
    margin-top: -0.2rem;
  }

  h4{
    line-height: 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: $blue-adv;
    text-transform: uppercase;
  }

  span{
    color: $dark-gray;
    font-size: 0.875rem;
  }

  @include media-breakpoint-down(md) {
    margin: 1rem 0;
  }
}

.account-wallet-icon {
  height: 36px;
  width: auto;
}

.account-table {
  font-size: 0.875rem;

  td{
    color: $darker-gray;
  }
}

.no-parcel-wrap{
  display: flex;

}