.book-now {
  width: 100%;
  height: auto;
  background-color: $white;
  padding: 1rem;
  display: flex;
  position: relative;
  border-radius: $border-radius;
  justify-content: space-between;
  border: solid 1px rgba(0, 0, 0, 0.2);
  @include shadow(2px 1px 5px 0px, 0.085);
  margin-bottom: 1.5rem;

  h2 {
    font-size: 1rem;
    color: $dark;
    font-weight: 600;
  }

  .book-now-book {
    width: 280px;
    display: flex;
    align-items: center;
    padding-right: 1rem;
    position: relative;

    &::after{
      content: '';
      display: block;
      width: 1px;
      height: 100%;
      background-color: $gray;
      position: absolute;
      right: 0;
      top: 0;
    }

    button{
      width: 100%;
    }
  }

  .book-now-content {
    width: 100%;
    padding-left: 1rem;
    overflow-y: auto;
    display: flex;
    align-items: center;
    position: relative;

    h3,h4{
      white-space: nowrap;
    }

    .book-now-more {
      right: 0;
      top: 0;
      display: block;
      cursor: pointer;
      position: absolute;
    }

    .book-now-price {
      margin-right: 2rem;
    }
    .book-now-printer{
      margin-right: 1rem;
    }
  }
  .book-now-status {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;

    > div {
      &:first-child {
        width: 30px;
        margin-right: 0.5rem;
      }
      &:last-child {
        width: calc(100% - 30px);

        span {
          display: block;
          font-size: 0.875rem;

          &:first-child {
            color: $darker-gray;
            font-weight: 500;
          }

          &:last-child {
            color: $primary;
            font-size: 0.75rem;
          }
        }
      }
    }
  }
  .book-now-printer {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    line-height: normal;

    > div {
      &:first-child {
        width: 30px;
        margin-right: 0.5rem;
      }
      &:last-child {
        width: 70px;

        span {
          display: block;
          font-size: 0.875rem;
          color: $darker-gray;
          font-weight: 500;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;

    .book-now-book {
      width: 100%;
      margin-bottom: 1rem;
      padding-right: 0;
      &::after{
        display: none;
      }
    }

    .book-now-content {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 0;

      .book-now-printer {
        margin-top: 1rem;
      }

      .book-now-more {
        display: none;
      }

    }
  }
}

#modal-hermes{
  z-index: 1000;
}