h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem
}

h5 {
  font-size: 1.2rem
}

.header-underline {
  border-bottom: 1px solid $gray-4;
  padding-bottom: 0.8rem;
}

.text-price {
  color: $info;
  display: block;
  font-size: 1.625rem;
  margin: 0;

  .ex-vat {
    font-size: 0.75rem;
    color: $info;
  }
  .ship-cost {
    font-weight: 500;
    margin-left: -7px;
  }
}

.text-price-ext {
  color: $dark-gray;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;

  .inc-vat {
    font-size: 0.75rem;
  }
  .new-price {
    margin-left: -4px;
  }
}

.text-title-white {
  color: $white;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 1em;
}

.text-small {
  font-size: 0.875rem;
}

.text-tiny {
  font-size: 0.75rem;
  color: $dark-gray;
}

.text-title-medium {
  font-weight: 500;
  font-size: 2.25rem;
  color: $blue-dark;
}

.text-sub-title {
  color: $blue-title;
  font-weight: 500;
  font-size: 1.125rem;
  display: block;
  margin-bottom: 1rem;
}

.text-strong-title {
  font-weight: 600;
  font-size: 1.125rem;
  display: block;
  margin-bottom: 1rem;
}

.text-with-icon {
  display: flex;
  align-items: center;

  img,
  i {
    margin-right: 0.625rem;
  }
}

.text-medium {
  font-size: 0.875rem;
}

.section-title {
  color: $dark;
  font-size: 2em;
  font-weight: 200;
}

.text-medium-title {
  color: $darker-gray;
  font-weight: 400;
}

.list-check {
  list-style: none;
  > * {
    position: relative;
    margin: 0px 0px 0.625rem 1.55rem;
    font-size: 0.875rem;

    &:after {
      content: url(../img/icons/circle-ok.png);
      position: absolute;
      left: -1.55rem;
      top: 2px;
    }
  }

  &.list-sm {
    > * {
      margin: 0px 0px 0.3rem 1.55rem;
    }
  }
}

.list-dot {
  > * {
    position: relative;
    margin: 0px 0px 0.625rem 1.55rem;
    font-size: 0.875rem;

    &:after {
      content: url(../img/icons/inner-dot-icon.png);
      position: absolute;
      left: -1.55rem;
      top: 2px;
    }
  }

  &.list-sm {
    > * {
      margin: 0px 0px 0.3rem 1.55rem;
    }
  }
}

.text-strong {
  font-size: 1rem;
  font-weight: 600;
}

.card-title {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;

  &.big {
    font-size: 1.5rem;
    text-transform: none;
  }
}

.text-regular-medium {
  font-size: 1.875rem;
  font-weight: 400;
}

.text-lighter {
  color: $darker-gray;
}

.text-medium-subtitle {
  font-weight: 500;
}

.text-light-subtitle {
  margin-bottom: 0;
  font-weight: 400;
}

.text-label {
  font-size: 0.9rem;
  font-weight: 700;
}

.text-small-medium {
  font-size: 0.875rem;
  font-weight: 500;
  color: $darker-gray;
}

.text-small-light {
  font-size: 0.875rem;
  color: $dark-gray;
}
